[Unit]
Description=Nexus Interface Initialization Ritual
#After=network.target
Before=NetworkManager.service
#Wants=network.target

[Service]
Type=oneshot
User=root
Group=root
ExecStart=/bin/sh /opt/posix-nexus/src/nex-net-setup.sh

[Install]
WantedBy=multi-user.target

