# Treat all .tex, .sty, and .cls files as LaTeX
**/*.tex linguist-language=TeX
**/*.sty linguist-language=TeX
**.cls linguist-language=TeX

# Treat all .awk files as AWK scripts
**/*.awk linguist-language=Awk

# Manually specify files with embedded AWK code
run.sh linguist-language=Awk

# Treat all .sh files as Shell scripts
**/*.sh linguist-language=Shell

# Treat all .sed files as Sed scripts
**/*.sed linguist-language=Sed

# Treat all .vim files as VimL scripts
**/*.vim linguist-language=Vim

# Treat all .c and .h files as C
**/*.c linguist-language=C
**/*.h linguist-language=C

src/test-mod.sh linguist-vendored
