# Treat all .awk files as AWK scripts
*.awk linguist-language=Awk

# Manually specify files with embedded AWK code
run.sh linguist-language=Awk

# Treat all .sh files as Shell scripts
*.sh linguist-language=Shell

# Treat all .bc files as BC scripts
*.bc linguist-language=BC

# Treat all .sed files as Sed scripts
*.sed linguist-language=Sed

# Treat all .tex, .sty, and .cls files as LaTeX
*.tex linguist-language=TeX
*.sty linguist-language=TeX
*.cls linguist-language=TeX

# Treat all .c and .h files as C
*.c linguist-language=C
*.h linguist-language=C