##:(Nexus Exports):###########################################################################

export LESS='-R'
export COLORFGBG=';0'
export DIALOGRC="${NEXUS_CNF}/.dialogrc"
export SHELL="$(nx_cmd_shell)"
export AWK="$(nx_cmd_awk)"
export PAGER="$(nx_cmd_pager)"

h_nx_cmd git && {
	export GIT_SSH_COMMAND='ssh -v '
}

export CC="$(nx_cmd_cc)"
export G_NEX_CLIPBOARD="$(nx_cmd_clipboard)"
export G_NEX_WGET="$(nx_cmd_wget)"
export G_NEX_PAGER="$(nx_cmd_pager)"
export G_NEX_SOCKETS="$(nx_cmd_sockets)"
export G_NEX_SQL="$(nx_cmd_sql)"
export G_NEX_CONTAINER="$(nx_cmd_container)"

export HISTCONTROL='erasedups'
export HISTIGNORE='ls:pwd:cd:echo'
export HISTSIZE=1000000
export HISTFILESIZE=2000000

export ENABLE_PROXY_FIX=True

test "$E_NEX_ASM" = true && nx_asm_export
test "$E_NEX_TEX" = true && nx_tex_export
test "$E_NEX_JAVA" = true && nx_java_export
test "$E_NEX_EDITOR" = true && nx_editor_export
test "$E_NEX_LEMONADE" = true && nx_misc_lemonade
test "$E_NEX_SOFFICE" = true && nx_misc_soffice

#export POSIXLY_CORRECT=1

##############################################################################################

