##:(Nexus Exports):###########################################################################

export LESS='-R'
export COLORFGBG=';0'
export DIALOGRC="${NEXUS_CNF}/.dialogrc"
export SHELL="$(nx_cmd_shell)"
export AWK="$(nx_cmd_awk)"

export G_NEX_CC="$(nx_cmd_cc)"
export G_NEX_CLIPBOARD="$(nx_cmd_clipboard)"
export G_NEX_WGET="$(nx_cmd_wget)"
export G_NEX_PAGER="$(nx_cmd_pager)"
export G_NEX_SOCKETS="$(nx_cmd_sockets)"

test "$E_NEX_ASM" = true && nx_tex_export
test "$E_NEX_TEX" = true && nx_asm_export
test "$E_NEX_JAVA" = true && nx_java_export
test "$E_NEX_EDITOR" = true && nx_editor_export
test "$E_NEX_LEMONADE" = true && nx_misc_lemonade
test "$E_NEX_SOFFICE" = true && nx_misc_soffice

tty -s && case "${TERM}" in
	screen*|Eterm*|alacritty*|aterm*|foot*|gnome*|konsole*|kterm*|putty*|rxvt*|tmux*|xterm*)
		{
			export PS1="$(
				printf "\n\[\e[1;37m\]┌──\[\e[m\]%s%s%s%s%s%s\[\e[1;37m\]\n│\n└\[\e[m\]$ " \
					"\[\e[4;1;37m\][$(whoami)]\[\e[m\]" \
					"\[\e[4;1;35m\]{@}\[\e[m\]" \
					"\[\e[4;1;32m\][\H]\[\e[m\]" \
					"\[\e[4;1;31m\](\@)\[\e[m\]" \
					"\[\e[4;1;33m\][\!]\[\e[m\]" \
					"\[\e[4;1;36m\](\w)\[\e[m\]"
			)"
		};;
	*)
	{
		export PS1='\[\e[4;1;32m\])(\w)\[\e[m\]'
	};;
esac
for tmpa in \
        "/bin" \
        "/sbin" \
        "/usr/bin"\
        "/usr/sbin"\
        "/usr/local/bin" \
        "/usr/local/sbin" \
        "$HOME/.local/bin" \
        "$HOME/.local/sbin" \
        "$NEXUS_BIN" \
        "$NEXUS_SBIN"
do
        PATH="$(nx_data_append PATH "$tmpa" ':' 1)"
done
export PATH
unset tmpa

##############################################################################################

