##############################################################################################

alias vi='$EDITOR'
alias pager='$PAGER'

alias ipa='ip --color=auto address show'
alias ipn='ip --color=auto neighbor show'
alias ipr='ip --color=auto route show'
alias ipl='ip --color=auto link show'
alias iph='ip --help'
alias ipmrl='ip --color=auto mrule show'
alias ipmrt='ip --color=auto mroute show'

alias l='ls --color=auto -F'
alias la='ls --color=auto -ashiFSl'
alias l1='ls --color=auto -a1'
alias ll='ls --color=auto -alF'
alias lA='ls --color=auto -AlF'
alias l.='ls -d .* --color=auto'

alias grep='grep --color=auto'
alias egrep='egrep --color=auto'
alias fgrep='fgrep --color=auto'

alias cls=clear

alias nxns='nsenter --net=/var/run/netns/posix-nexus bash'

alias now='date +"%T"'
alias nowdate='date +"%d-%m-%Y"'
alias epoch='date +"%s"'

h_nx_cmd tmux && alias tmux="tmux -f $NEXUS_CNF/.tmux.conf"

##############################################################################################
