##:(Nexus Exports):###########################################################################

export G_NEX_WEB_FETCH="$(g_nx_cmd curl wget)"
export LESS='-R'
export COLORFGBG=';0'
export DIALOGRC="$NEXUS_CNF/.dialogrc"
export PAGER="$(nx_cmd_pager)"
export SHELL="$(nx_cmd_shell)"
export AWK="$(nx_cmd_awk)"
export CC="$(nx_cmd_cc)"

##############################################################################################

