pynvim
asttokens
backcall
bcrypt
beautifulsoup4
blinker
click
colorama
comm
debugpy
decorator
dnspython
email-validator
executing
Flask
Flask-Bcrypt
flask-form
Flask-Login
Flask-SQLAlchemy
Flask-WTF
greenlet
gunicorn
idna
ipykernel
ipython
itsdangerous
jedi
Jinja2
jupyter_client
jupyter_core
MarkupSafe
matplotlib-inline
nest-asyncio
numpy
packaging
parso
pexpect
pickleshare
platformdirs
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
PyMySQL
python-dateutil
pyzmq
soupsieve
SQLAlchemy
stack-data
tornado
traitlets
transaction
typing_extensions
wcwidth
webassets
Werkzeug
wtf
WTForms
zope.interface
Pillow
python-dotenv
pyScss
Flask-Scss
Flask-SQLAlchemy
Flask-Webpack
